build/
dist/
*.egg-info/
**/__pycache__/
*-checkpoint.ipynb
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

# Build artifacts produced in-place by torch.utils.cpp_extension auto-hipify
# when pytorch3d is built against a ROCm PyTorch.
*.so
pytorch3d/csrc/**/*.hip
pytorch3d/csrc/**/*_hip.cpp
pytorch3d/csrc/**/*_hip.h
pytorch3d/csrc/**/*_hip.cuh

# Debug PNG dumps written by pulsar tests when FB_TEST is unset.
tests/pulsar/test_out/


# Docusaurus site
website/yarn.lock
website/build/
website/i18n/
website/node_modules/*
website/npm-debug.log

## Generated for tutorials
website/_tutorials/
website/static/files/
website/pages/tutorials/*
!website/pages/tutorials/index.js
