docutils>=0.14
Sphinx>=1.7
recommonmark==0.4.0
sphinx_rtd_theme
sphinx_markdown_tables
mock
numpy
git+git://github.com/facebookresearch/fvcore.git
git+git://github.com/facebookresearch/iopath.git
https://download.pytorch.org/whl/cpu/torchvision-0.8.2%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
